[client]
socket=/home/mamba/soft/mysql/mysql_master_3306//tmp/mysql.sock
default-character-set = utf8mb4

[mysql]
basedir=/home/mamba/soft/mysql/mysql_master_3306/
datadir=/home/mamba/soft/mysql/mysql_master_3306/data/
socket=/home/mamba/soft/mysql/mysql_master_3306//tmp/mysql.sock
port=3306
user=mamba
# 指定日志时间为系统时间
log_timestamps=SYSTEM
log-error=/home/mamba/soft/mysql/mysql_master_3306/log/mysql.err
# 指定字符集为utf8，因为mysql8.0中的默认字符集为utfmb4，会和其他程序引起兼容性问题
default-character-set = utf8mb4

[mysqld]
basedir=/home/mamba/soft/mysql/mysql_master_3306/
datadir=/home/mamba/soft/mysql/mysql_master_3306/data/
socket=/home/mamba/soft/mysql/mysql_master_3306/tmp/mysql.sock
port=3306
user=mysql
log_timestamps=SYSTEM
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 指定默认认证的加密方式，mysql8.0中默认方式为caching_sha2_password，引起老版本兼容性问题
default_authentication_plugin= mysql_native_password

[mysqld_safe]
log-error=/home/mamba/soft/mysql/mysql_master_3306/log/mysqld_safe.err
pid-file=/home/mamba/soft/mysql/mysql_master_3306/tmp/mysqld.pid
socket=/home/mamba/soft/mysql/mysql_master_3306/tmp/mysql.sock

[mysql.server]
basedir=/home/mamba/soft/mysql/mysql_master_3306
socket=/home/mamba/soft/mysql/mysql_master_3306/tmp/mysql.sock

[mysqladmin]
socket=/home/mamba/soft/mysql/mysql_master_3306/tmp/mysql.sock
